* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #ffffff;
  height: 100vh;
}

.info {
  width: 150rem;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  margin-left: 2rem;
}
.text-1 {
  width: 8rem;
  font-size: 2rem;
}
.logo {
  width: 8rem;
  font-size: 1.5rem;
}
.login {
  width: 35rem;
  height: 60rem;
  margin: auto;
}

.sing {
  font-size: 3rem;
}

.email-tesla {
  margin-top: 3rem;
  margin-left: 4rem;
}
.email {
  display: flex;
  width: 8rem;
  height: 2.5rem;
  font-size: 1.5rem;
  color: #636363;
}
.mail {
  width: 27rem;
  height: 3.5rem;
  background-color: #d6d6d6;
  border-color: #b3b3b3;
  border-radius: 0.5rem;
}
.btn {
  width: 27rem;
  height: 3.5rem;
  margin-left: 4rem;
  margin-top: 2.5rem;
  background-color: #9b98d4;
  color: #fff;
  border-style: none;
  border-radius: 0.5rem;
}

.signing {
  width: 13rem;
  border-bottom: 2px solid #636363;
  margin-top: 2rem;
  margin-left: 11rem;
}
.link {
  font-size: 1.3rem;
  color: #636363;
  text-decoration: none;
}
.create {
  width: 27rem;
  height: 3.5rem;
  margin-left: 4rem;
  margin-top: 2.5rem;
  background-color: #e4e4e4;
  color: #878686;
  border-style: none;
  border-radius: 0.5rem;
}
